@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Inter", sans-serif;

  --color-text: #03030c;
  --color-background: #f3f3f6;
  --color-primary: #161853;
  --color-secondary: #292c6d;
  --color-accent: #faedf0;
}

@layer base {
  h4 {
    font-family: var(--font-heading);
    color: var(--color-primary);
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .ph {
    font-family: var(--font-heading);
    color: var(--color-primary);
    font-size: 3.25rem;
    line-height: 3.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    letter-spacing: 0.02em;
  }

  p {
    font-family: var(--font-sans);
    color: var(--color-text);
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
  }
}
